#account {
  padding: 80px;
  padding-bottom: none;
}
#account:before {
  content: "";
  position: fixed;
  top: 200px;
  left: 0px;
  width: 40px;
  height: 100px;
  background: #fa215e;
  z-index: 1;
  transition: 1s;
}
#account:after {
  content: "";
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 60px;
  height: 100px;
  background: #aeff0f;
  z-index: 1;
  transition: 1s;
}
#account p,
#post p {
  font-weight: 300;
  color: #111;
}
#account .titleText,
#post .titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
  text-align: left;
  padding-top: 20px;
}
#account .titleText span,
#post .titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}
#account .title,
#post .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#account .content {
  display: flex;
  justify-content: space-between;
}
#account .account_info {
  min-width: 70%;
}
#account .account_info .name {
  font-size: 24px;
}
#account .account_info h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
#account .info {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
}
#account .info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
#account .info .box .text {
  display: flex;
  margin-left: 40px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
#account .info .box .text h3 {
  font-weight: 500;
  color: #00bcd4;
  margin-bottom: 0;
}
#account .info .box .text p {
  font-weight: 300;
}
#account .btn {
  min-width: 20%;
  display: grid;
  grid-template-columns: 100px 100px;
  height: 20px;
  justify-content: space-between;
}
#account .btn input {
  padding: 4px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  color: #fff;
  min-width: 80px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 5px;
  text-decoration: none;
  text-align: center;
}
#account .btn input[type="submit"],
#post .btn input[type="submit"] {
  background: #677eff;
}
#account .btn input[type="cancel"] {
  background: #e73e49;
}
#account .btn input[type="cancel"].active {
  visibility: hidden;
}
#account .btn input[type="submit"]:hover,
#account .btn input[type="cancel"]:hover {
  letter-spacing: 4px;
  min-width: 100px;
}
#account .edit {
  min-width: 70%;
}
#account .edit form {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
}
#account .edit form h3 {
  font-weight: 500;
  color: #00bcd4;
  margin-bottom: 5px;
}
#account .edit form input {
  width: 80%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  resize: none;
  font-weight: 300;
}
#account .edit form input::placeholder {
  color: #999;
}
#post .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
#post .content .box {
  width: 250px;
  margin: 15px;
}

#post .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
#post .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#post .content .box .text {
  padding: 15px 0 5px;
}
#post .content .box .text h3 {
  font-weight: 400;
  color: #111;
  text-align: center;
}
#post .btn {
  justify-content: space-between;
}
#post .btn input {
  padding: 4px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  color: #fff;
  min-width: 160px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 5px;
  text-decoration: none;
  text-align: center;
}
#post .btn input[type="submit"]:hover {
  letter-spacing: 4px;
  min-width: 200px;
}
