#header header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 5rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
#header header.sticky {
  background: #fff;
  padding: 10px 4rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
#header header.invisible {
  visibility: hidden;
}
#header header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
#header header.sticky .logo {
  color: #111;
}
#header header .logo span {
  color: #ff0157;
}
#header header .box {
  position: relative;
  justify-content: center;
  align-items: center;
}
#header header .box .search_box {
  width: auto;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#header header .box input {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}
#header header .box .select_city {
  position: relative;
  display: inline-block;
  height: 1.6rem;
  font-size: 1rem;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 0 0 1rem;
  border-right: 0.2rem solid #000;
}
#header header.sticky .box .select_city {
  background: #f9f9f9;
  height: 1.7rem;
  border: 0.1rem solid #151415;
}
#header header .box input[type="text"] {
  background: #fff;
  width: 25rem;
  height: auto;
  border: none;
  outline: none;
  padding: 0 1rem;
  border-radius: 0 0 0 0;
}
#header header.sticky .box input[type="text"] {
  background: #f9f9f9;
  border: 0.1rem solid #151415;
}
#header header .box input[type="submit"] {
  position: relative;
  width: auto;
  height: auto;
  border: none;
  border-left: 0.2rem solid #000;
  outline: none;
  padding: 0 1rem;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
  background: #fff;
  color: #000;
}
#header header .box input[type="submit"]:hover {
  background: #aeff0f;
}
#header header.sticky .box input[type="submit"] {
  background: #f9f9f9;
  border: 0.1rem solid #151415;
  color: #000;
}
#header header .navigation {
  position: relative;
  display: flex;
  list-style: none;
}
#header header .navigation li {
  list-style: none;
  margin-left: 30px;
}
#header header .navigation li .menu-link {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 1.1rem;
}
#header header.sticky .navigation li .menu-link {
  color: #111;
}
#header header .navigation li .menu-link:hover {
  color: #ff0157;
}
#header section {
  padding: 100px;
}
#header .banner {
  position: relative;
  width: 100vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./Images/bg.png);
  background-size: cover;
}
#header .banner .content {
  margin-top: 4.2rem;
  max-width: 900px;
  text-align: center;
}
#header .banner .content h2 {
  font-size: 5em;
  color: #fff;
}
#header .banner .content p {
  font-size: 1em;
  color: #fff;
}
#header .btn {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
#header .btn:hover {
  letter-spacing: 6px;
}
