#menupage {
  padding: 80px;
  padding-bottom: none;
}
#menupage:before {
  content: "";
  position: fixed;
  top: 200px;
  left: 0px;
  width: 150px;
  height: 100px;
  background: #fa215e;
  z-index: 1;
  transition: 1s;
}
#menupage:after {
  content: "";
  position: fixed;
  bottom: 100px;
  right: 0;
  width: 200px;
  height: 120px;
  background: #aeff0f;
  z-index: 1;
  transition: 1s;
}

#menupage .titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}
#menupage .titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}
#menupage .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#menupage .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
#menupage .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
#menupage .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
#menupage .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#menupage .content .box .text {
  padding: 15px 0 5px;
}
#menupage .content .box .text h3 {
  font-weight: 400;
  color: #111;
  text-align: center;
}
#menupage a.btn {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
#menupage .btn:hover {
  letter-spacing: 6px;
}
