#contact {
  background: url("./Images//bg.png");
  background-size: cover;
  padding: 80px;
  padding-bottom: none;
}
#contact:before {
  content: "";
  position: absolute;
  top: 250px;
  left: 0px;
  width: 40px;
  height: 100px;
  background: #fa215e;
  z-index: 1;
  transition: 1s;
}
#contact:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 80px;
  width: 250px;
  height: 80px;
  background: #aeff0f;
  z-index: 1;
  transition: 1s;
}
#contact .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#contact .titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}
#contact .titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}
#contact .contactForm {
  padding: 50px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 30px;
}
#contact .contactForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}
#contact .contactForm .inputBx {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
#contact .contactForm .inputBx input,
#contact .contactForm .inputBx textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  resize: none;
  font-weight: 300;
}
#contact .contactForm .inputBx input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
#contact .contactForm .inputBx input[type="submit"]:hover {
  letter-spacing: 4px;
  max-width: 120px;
}
